#Email configuration
EMAIL_HOST_USER=adres-email
EMAIL_HOST_PASSWORD=haslo 16 znakow

# Database configuration
DB_NAME=salon
DB_USER=salon_user
DB_PASSWORD=haslo
DB_HOST=localhost
DB_PORT=5432

# Django Settings
DEBUG=True
SECRET_KEY='klucz-sekretny'