{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{ company.name }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Playfair+Display:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
</head>
<body
    {% if company.logo %} 
        style="background-image: url('{{ company.logo.url }}');" 
    {% else %} 
        style="background-image: url('{% static 'core/img/background_main.png' %}');" 
    {% endif %}>
    <nav class="navbar">
        <!-- Kontener na linki (środek) -->
        <div class="nav-links">
            <a href="#hero">Startseite</a>
            <a href="#services">Dienstleistungen</a>
            <a href="#posts">Kosmetik</a>
            <a href="#contact">Kontakt</a>
        </div>

        <!-- Kontener na ikony (prawa strona) -->
        <div class="social-icons">
            {% if company.treatwell_url %}
                <a href="{{ company.treatwell_url }}" target="_blank" class="cta-treatwell">
                <i class="fa-solid fa-calendar-check"></i> Termin vereinbaren
                </a>
            {% endif %}

            {% if company.facebook_url %}
                <a href="{{ company.facebook_url }}" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            {% endif %}

            {% if company.instagram_url %}
                <a href="{{ company.instagram_url }}" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            {% endif %}

            {% if company.whatsapp_url %}
                <a href="{{ company.whatsapp_url }}" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
            {% endif %}
        </div>
    </nav>

    <section id="hero">
        
        <div class="hero-overlay">
            
            <h1 class="hero-title">{{ company.name }}</h1>
            {% if company.name_additional %}
                <span class="hero-title-additional">{{ company.name_additional }}</span>
            {% endif %} 

            <div class="hero-logo-container">
                <img src="{% static 'core/img/znak.png' %}" class="hero-logo" alt="Logo">
            </div>

            <div class="hero-motto-plaque">
                <p class="hero-motto">{{ company.motto }}</p>
            </div>

            <p class="hero-subtitle">{{ company.description }}</p>

            <a href="#services" class="cta-outline">Unsere Dienstleistungen</a>

        </div>
    </section>


    <section id="services">
        <h2 class="section-heading">Unsere Dienstleistungen</h2>
        <p class="section-subheading">Entdecken Sie Luxus und professionelle Pflege</p>

        <!-- ZAKŁADKI -->
        <div class="tabs-container">
            {% for category in categories %}
                <button class="tab-btn {% if forloop.first %}active{% endif %}" 
                        data-tab="category-{{ category.id }}">
                    {{ category.name }}
                </button>
            {% endfor %}
        </div>

        <!-- ZAWARTOŚĆ ZAKŁADEK -->
        {% for category in categories %}
            <div class="tab-content {% if forloop.first %}active{% endif %}" 
                id="category-{{ category.id }}">
                <div class="services-grid">
                    {% for service in category.service_set.all %}
                        <div class="service-card open-modal" 
                            data-title="{{ service.title }}" 
                            data-description="{{ service.description }}" 
                            data-price="{% if service.price_to %}{{ service.price }} € - {{ service.price_to }} €{% else %}{{ service.price }} €{% endif %}"
                            data-image="{% if service.image %}{{ service.image.url }}{% else %}{% static 'core/img/default-treatment.jpg' %}{% endif %}">
                            
                            <div class="service-card-image">
                                {% if service.image %}
                                    <img src="{{ service.image.url }}" alt="{{ service.title }}">
                                {% else %}
                                    <img src="{% static 'core/img/default-treatment.jpg' %}" alt="Usługa">
                                {% endif %}
                            </div>

                            <div class="service-card-content">
                                <h3 class="service-card-title">{{ service.title }}</h3>
                                
                                <div class="service-card-text-container">
                                    <p class="service-card-text">{{ service.description }}</p>
                                    <span class="more-link">więcej</span>
                                </div>
                                
                                <div class="service-card-footer">
                                    <span class="service-card-price">
                                        {% if service.price_to %}
                                            {{ service.price }} € - {{ service.price_to }} €
                                        {% else %}
                                            {{ service.price }} €
                                        {% endif %}
                                    </span>
                                    {% if company.treatwell_url %}
                                        <a href="{{ company.treatwell_url }}" target="_blank" class="service-card-btn" onclick="event.stopPropagation();">Termin vereinbaren</a>
                                    {% else %}
                                        <a href="#contact" class="service-card-btn" onclick="event.stopPropagation();">Kontakt</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        <div id="serviceModal" class="modal-overlay">
            <div class="modal-card">
                <button class="modal-close-btn">&times;</button>
                <div class="modal-image-box">
                    <img id="modalImage" src="" alt="Usługa">
                </div>
                <div class="modal-content-box">
                    <h3 id="modalTitle"></h3>
                    <div class="modal-scroll-desc">
                        <p id="modalDescription"></p>
                    </div>
                    <div class="modal-footer-box">
                        <span id="modalPrice">0,00 €</span>
                        <a href="{% if company.treatwell_url %}{{ company.treatwell_url }}{% else %}#contact{% endif %}" 
                        id="modalActionBtn" 
                        target="_blank" 
                        class="service-card-btn">Termin vereinbaren</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="posts">
        <h2 class="section-heading">Die Kosmetika, die wir verwenden</h2>
        <div class="grid-container">
            {% for post in posts %}
                <div class="card">
                    <div class="card-content">
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.description|safe }}</p>
                    </div>
                    
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="{{ post.title }}">
                    {% endif %}
                </div>
            {% endfor %}            
        </div>
    </section>

    <section id="contact">
        <h2 class="section-heading">Haben Sie Fragen? Schreiben Sie uns</h2>
        
        <div class="contact-container">
            <form method="post" action="#contact">
                {% csrf_token %}
                {% if messages %}
                    <div class="django-messages">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}               
                
                <p>
                    <label for="{{ form.name.id_for_label }}">VORNAME:</label>
                    {{ form.name }}
                    {% if form.name.errors %}
                        <ul class="errorlist">
                            {% for error in form.name.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </p>

                <p>
                    <label for="{{ form.email.id_for_label }}">EMAIL:</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <ul class="errorlist">
                            {% for error in form.email.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </p>

                <p>
                    <label for="{{ form.message.id_for_label }}">Inhalt der Nachricht:</label>
                    {{ form.message }}
                    {% if form.message.errors %}
                        <ul class="errorlist">
                            {% for error in form.message.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </p>
                
                <div class="privacy-container">
                    <input 
                        type="checkbox" 
                        id="id_privacy_accepted" 
                        name="privacy_accepted" 
                        required 
                        oninvalid="this.setCustomValidity('Musisz zaakceptować politykę prywatności, aby wysłać wiadomość.')" 
                        oninput="this.setCustomValidity('')">
                    
                <label for="id_privacy_accepted">
                    Ich habe die 
                    <a href="#datenschutz" class="privacy-link" 
                    onclick="event.stopPropagation(); event.preventDefault(); document.getElementById('datenschutz').scrollIntoView({behavior: 'smooth'});">
                    Datenschutzerklärung
                    </a>
                    zur Kenntnis genommen und akzeptiere sie.
                </label>
                </div>

                <button type="submit" class="cta-outline">Nachricht senden</button>
            </form>
        </div>
    </section>

    <footer>
        <div class="footer-content">
            <div class="footer-info">
                {% if company.phone %}
                    <span><i class="fa-solid fa-phone"></i> {{ company.phone }}</span>
                {% endif %}
                
                {% if company.email %}
                    <span><i class="fa-solid fa-envelope"></i> {{ company.email }}</span>
                {% endif %}
                
                {% if company.street and company.postal_code and company.city %}
                    <span>
                        {% if company.map_url %}
                            <a href="{{ company.map_url }}" target="_blank" rel="noopener noreferrer" class="footer-map-link">
                                <i class="fa-solid fa-location-dot"></i> {{ company.street }}, {{ company.postal_code }} {{ company.city }}
                            </a>
                        {% else %}
                            <i class="fa-solid fa-location-dot"></i> {{ company.street }}, {{ company.postal_code }} {{ company.city }}
                        {% endif %}
                    </span>
                {% endif %}

                {% if company.street_2 and company.postal_code_2 and company.city_2 %}
                    <span>
                        {% if company.map_url_2 %}
                            <a href="{{ company.map_url_2 }}" target="_blank" rel="noopener noreferrer" class="footer-map-link">
                                <i class="fa-solid fa-location-dot"></i> {{ company.street_2 }}, {{ company.postal_code_2 }} {{ company.city_2 }}
                            </a>
                        {% else %}
                            <i class="fa-solid fa-location-dot"></i> {{ company.street_2 }}, {{ company.postal_code_2 }} {{ company.city_2 }}
                        {% endif %}
                    </span>
                {% endif %}
            </div>
            
            <div class="footer-legal-container">
                
                <div class="legal-static-block">
                    <h3>Impressum</h3>
                    <p><strong>{{ company.name }}</strong></p>
                    <p>{{ company.street }}<br>{{ company.postal_code }} {{ company.city }}</p>
                    <p><strong>Vertreten durch:</strong> {{ company.owner_name }}</p>
                    <p><strong>Kontakt:</strong><br>Telefon: {{ company.phone }}<br>E-Mail: {{ company.email }}</p>

                    {% comment %} USt-IdNr {% endcomment %}
                    {% if company.ust_id %}
                        <p><strong>Umsatzsteuer-ID:</strong><br>USt-IdNr: {{ company.ust_id }}</p>
                    {% endif %}

                    {% comment %} Umsatzsteuer {% endcomment %}
                    {% if company.ust_id_information %}
                        <h4>Umsatzsteuer</h4>
                        <p>{{ company.ust_id_information }}</p>
                    {% endif %}
                    
                    {% comment %} EU-Streitschlichtung {% endcomment %}
                    {% if company.odr_link and company.eu_streitschlichtung %}
                        <h4>EU-Streitschlichtung</h4>
                        <p>
                            Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: 
                            <a href="{{ company.odr_link }}" target="_blank" rel="noopener noreferrer">{{ company.odr_link }}</a>
                        </p>
                        <p>{{ company.eu_streitschlichtung }}</p>
                    {% endif %}                         

                    {% comment %} Haftung für Inhalte {% endcomment %}
                    {% if company.liability_contents %}
                        <h5>Haftung für Inhalte</h5>
                        <p>{{ company.liability_contents }}</p>
                    {% endif %}

                    {% comment %} Haftung für Links {% endcomment %}
                    {% if company.liability_links %}
                        <h5>Haftung für Links</h5>
                        <p>{{ company.liability_links }}</p>
                    {% endif %}
                </div>

                <div class="legal-static-block" id="datenschutz">
                    <h3>Datenschutzerklärung</h3>
                    
                    <h4>Einleitung und Überblick</h4>
                    <p>{{ company.privacy_intro }}</p>
                    
                    <h4>Zweck der Datenverarbeitung</h4>
                    <p>{{ company.privacy_purposes }}</p>
                    
                    <h4>Rechtsgrundlagen</h4>
                    <p>{{ company.privacy_legal_grounds }}</p>
                    
                    {% if company.privacy_third_parties %}
                        <h4>Datenübermittlung an Dritte</h4>
                        <p>{{ company.privacy_third_parties }}</p>
                    {% endif %}
                    
                    {% if company.privacy_cookies %}
                        <h4>Cookies</h4>
                        <p>{{ company.privacy_cookies }}</p>
                    {% endif %}
                </div>
                
            </div>

            <div class="footer-bottom">
                <p>&copy; 2026 {{ company.name }} {% if company.ust_id %}| USt-IdNr: {{ company.ust_id }}{% endif %}</p>
            </div>
        </div>
    </footer>
    

    <script src="{% static 'core/js/main.js' %}"></script>
</body>
</html>